name: synthetics-ci-github-action

on: 
  workflow_dispatch

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run E2E Synthetic tests
        uses: step-security/synthetics-ci-github-action@release
        id: run-synthetics-tests
        env:
          FORCE_COLOR: 1
        with:
          api-key: ${{ secrets.DATADOG_API_KEY }}
          app-key: ${{ secrets.DATADOG_APP_KEY }}
          config-path: './.github/workflows/e2e/global.config.json'
          public-ids: |
            rqm-rn4-s5d
          datadog-site: 'us5.datadoghq.com'
      - name: Print Batch URL
        run: |
          echo 'Batch URL: ${{ steps.run-synthetics-tests.outputs.batch-url }}'

      - name: Example of parsing and using raw results with JS
        uses: actions/github-script@v6
        env:
          RAW_RESULTS: ${{ steps.run-synthetics-tests.outputs.raw-results }}
        with:
          script: |
            const rawResults = JSON.parse(process.env.RAW_RESULTS);
            console.log('Parsed Raw Results:', rawResults);
